body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(images/wallpaper.png);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  position:absolute;
}

.dancerRotate{
  -webkit-animation-name: rotate;
  -webkit-animation-duration:1s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}

.blinkyDancer{
  border-radius:0px;
  position:absolute;
  background-image: url(images/pikachu.png);
  height: 300px;
  width: 300px;
  background-size: 100%;
}

.movingDancer{
  background-image: url(images/charmander.png);
  height: 340px;
  width: 300px;
  background-size: 100%;
}

.Pokeball{
  height: 150px;
  width: 150px;
  background-size: 100%;
  position:absolute;
  background-image: url(images/pokeball.png);
  -webkit-transition: background-image 1.5s ease-in-out;
}

.transformCharzard{
  height: 430px;
  width: 400px;
  background-size: 100%;
  background-image: url(images/charzard.png);
   -webkit-transition: background-image 1.5s ease-in-out;
}

.transformPikachu{
  height: 420px;
  width: 300px;
  background-size: 100%;
  background-image: url(images/raichu.png);
   -webkit-transition: background-image 0.5s ease-in-out;
}

.lineUp{

}
