body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(images/wallpaper.jpg);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border-radius:0px;
  position:absolute;
  -webkit-animation-name: rotate;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}

.dancer:hover{
-webkit-animation-name: rotate;
  -webkit-animation-duration:.3s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}

.blinkyDancer{
  background-image: url(images/pikachu.png);
  height: 300px;
  width: 300px;
  background-size: 100%;
}

.movingDancer{
  background-image: url(images/charmander.png);
  height: 340px;
  width: 300px;
  background-size: 100%;
}
